@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito&display=swap');

.App {
    font-family: 'Nunito', sans-serif;
    background-color: #ff69b4;
    color: #ccf;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 83vh;
    margin: 5vh 5vh 8vh 5vh;
    border-radius: 5px;
    border: solid 2vh #ccccff;
}

